body {
    padding-top: 70px;
    background: #eee;
}

.headline h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.headline h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin-top: 0px;
}
